@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Work+Sans:ital,wght@0,300;1,300&display=swap');
/* Google fonts */

@media only screen and (max-width: 900px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    #background {
        opacity: 0;
        transition-timing-function: ease-in;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.801);
        width: 100vw;
        height: 2620px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        visibility: hidden;
    }

    #end-prompt {
        z-index: 11;
        padding: 0px 40px;
        font-family: 'Work Sans', sans-serif;
        background-color: white;
        border-radius: 5px;
        border-bottom: 2px solid rgb(214, 214, 214);
        border-top: none;
        border-left: 2px solid rgb(214, 214, 214);
        border-right: 2px solid rgb(214, 214, 214);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.63);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 40vw;
        height: 50vh;
        visibility: hidden;
    }

    #left-col {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    #right-col {
        width: 100vw;
    }

    #logo {
        z-index: 10;
        display: flex;
        justify-content: center;
        width: 400px;
        font-size: 60px;
        font-family: 'Work Sans', sans-serif;
        color: black;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #form {
        height: 570px;
    }

    #row-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #row-3 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .input {
        text-indent: 35px;
        height: 4vh;
        width: 50vw;
        border-radius: 5px;
        border: 2px solid rgba(0, 0, 0, 0.068);
        transition: 0.5s
    }

    #full-name:focus, #email:focus, #password:focus, #confirm-password:focus {
        text-indent: 45px;
        height: 6vh;
        width: 50vw;
        font-size: 30px;
        margin-bottom: -10px;
        background-size: 30px 45px;
        outline: none;
        border: 2px solid rgba(0, 0, 0, 0.699)
    }

    #full-name {
        background-image: url(./image/badge_FILL0_wght400_GRAD0_opsz48.svg);
        background-position: 10px 2px;
        background-repeat: no-repeat;
        background-size: 20px 30px;
    }
    
    #email {
        background-image: url(./image/alternate_email_FILL0_wght400_GRAD0_opsz48.svg);
        background-position: 10px 2px;
        background-repeat: no-repeat;
        background-size: 20px 30px;
    }
    
    #password {
        background-image: url(./image/key_FILL0_wght400_GRAD0_opsz48.svg);
        background-position: 10px 2px;
        background-repeat: no-repeat;
        background-size: 20px 30px;
    }
    
    #confirm-password {
        background-image: url(./image/lock_FILL0_wght400_GRAD0_opsz48.svg);
        background-position: 10px 2px;
        background-repeat: no-repeat;
        background-size: 20px 30px;
    }

    #socials {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}


body {
    margin: 0;
    padding: 0;
}

.body-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.reminder-prompt {
    margin-bottom: 0px;
}

.title-prompt {
    font-size: 30px;
    margin-bottom: 0;
}

.socials-prompt {
    display: flex;
    margin-top: 0px;
    gap: 15px;
}

.end-prompt {
    padding: 0px 40px;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    border-radius: 5px;
    border-bottom: 2px solid rgb(214, 214, 214);
    border-top: none;
    border-left: 2px solid rgb(214, 214, 214);
    border-right: 2px solid rgb(214, 214, 214);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30vw;
    height: 40vh;
    visibility: hidden;
}

.background {
    opacity: 0;
    transition-timing-function: ease-in;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.801);
    width: 101vw;
    height: 101vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
}

.main {
    display: flex;
}

.right-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.281);
    box-shadow: -1px 1px 40px 1px rgba(0, 0, 0, 0.466);
}

.left-col {
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 40vw;
}

.logo {
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    color: black;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.banner {
    width: 100vw;
    height: 100vh;
}

.form-title {
    margin: 0;
    font-size: 48px;
    font-family: 'Work Sans', sans-serif;
}

.form {
    border-radius: 5px;
    border-bottom: 2px solid rgb(214, 214, 214);
    border-top: none;
    border-left: 2px solid rgb(214, 214, 214);
    border-right: 2px solid rgb(214, 214, 214);
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 80%;
}

.row-2, .row-3 {
    display: flex;
    gap: 50px;
}

.fullname, .email, .password, .confirm-password {
    display: flex;
    flex-direction: column;
}
form {
    flex-direction: column;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[name=full-name] {
    background-image: url(./image/badge_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

input[name=email] {
    background-image: url(./image/alternate_email_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

input[name=password] {
    background-image: url(./image/key_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

input[name=confirm-password] {
    background-image: url(./image/lock_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

input {
    text-indent: 25px;
    height: 3vh;
    width: 22vh;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.068);
    transition: 0.5s
}

.input:focus {
    background-position: 7px 5px;
    font-size: 20px;
    text-indent: 30px;
    height: 4vh;
    width: 22vh;
    margin-bottom: -10px;
    background-size: 20px 25px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.699)
}

input:hover {
    border: 2px solid rgba(0, 0, 0, 0.226);
}

input[name=full-name]:focus + .fullname-error, input[name=email]:focus + .email-error, input[name=password]:focus + .password-error, input[name=confirm-password]:focus + .confirm-password-error {
    transition: 0.5s;
    transform: translateY(10px);
}

input[name=full-name] + .fullname-error, input[name=email] + .email-error, input[name=password] + .password-error, input[name=confirm-password] + .confirm-password-error {
    transition: 0.5s;
}

label {
    font-family: 'Work Sans', sans-serif;
}

.spacer-top {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    width: 80%;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.description-title {
    font-size: 30px;
    font-weight: bold;
}

.description-body {
    margin-top: 0;
}

.spacer-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

button {
    border-bottom: 2px solid rgb(214, 214, 214);
    border-top: none;
    border-left: 2px solid rgb(214, 214, 214);
    border-right: 2px solid rgb(214, 214, 214);
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%);
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 10px;
    font-family: 'Work Sans', sans-serif;
}

button:active {
    margin-top: 2px;
    border: none;
    box-shadow: inset 1px 3px 3px rgb(214, 214, 214);
}

.socials {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

footer {
    font-family: 'Work Sans', sans-serif;
}

.github-footer {
    position: absolute;
    height: 2vh;
    width: 2vw;
}

.fullname-error, .email-error, .password-error, .confirm-password-error {
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
}